@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


@import "tailwindcss";

@layer base {
  html {
    font-family: "Figtree", sans-serif;
    font-size: 18px;
  }
}

@theme {
  --breakpoint-xs: 24.5rem;
  --color-yellow-glow: #FFEC5B;
  --color-green-correct: #1BC237;
  --color-red-wrong: #F63E3E;
  --color-pink-title: #FF5A5A;
  --color-blue-primary: #7DD4FF;
  --color-blue-secondary: #2FB1F2;
  --color-blue-tertiary: #E2F3FF;
  --color-blue-dark: #009CE9;
  --font-open: 'Open Sans', 'sans-serif';
  --font-grand: 'Grandstander', 'cursive';
}

@layer utilities {
  .animate-pulse-fast {
    animation: pulse 1.5s infinite;
  }
  /* .square-portrait {
    height: 100%;
    width: auto;
  } */
  .heading {
    font-family: 'Grandstander', 'cursive';
    font-weight: 700;
    font-size: 2rem;
    color: #2FB1F2;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
  }

  .button {
    border-radius: 0.5rem;        /* rounded-lg */
    padding: 1rem 1rem;           /* px-4 py-4 = 16px */
    transition: all 0.2s ease;    /* transition-all */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
    background-color: #2FB1F2;    /* bg-blue-secondary (adjust if custom!) */
    color: white;                /* text-white */
    font-weight: 600;            /* font-semibold */
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #009CE9;   /* hover:bg-blue-dark */
    transform: scale(0.95);      /* hover:scale-95 */
  }
  
  .button:active {
    background-color: #009CE9;   /* active:bg-blue-dark */
    transform: scale(0.95);      /* active:scale-95 */
  }

  .button:disabled {
    box-shadow: none;              /* disabled:shadow-none */
    transform: scale(1);           /* disabled:scale-100 */
    background-color: #f3f4f6;     /* disabled:bg-gray-100 */
    color: #6b7280;                /* disabled:text-gray-500 */
    cursor: not-allowed;           /* disabled:cursor-not-allowed */
    font-weight: 400;              /* disabled:font-normal */
  }

  .button.secondary {
    background-color: #E2F3FF;    
    color: black;                
    font-weight: 400;    
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  @media (orientation: portrait) {
    .show-portrait {
      display: flex !important;
    }
      .hide-portrait {
        display: none !important;
      }
      /* .square-portrait {
        width: 100%;
        height:auto;
      } */
      .progress-height-portrait {
        height: 6rem;
      }
    }
}