@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


@import "tailwindcss";

@layer base {
  html {
    font-family: "Figtree", sans-serif;
    font-size: 18px;
  }
}

@theme {
  --breakpoint-xs: 24rem;
  --color-yellow-glow: #FFEC5B;
  --color-green-correct: #1BC237;
  --color-red-wrong: #F63E3E;
  --color-blue-primary: #7DD4FF;
  --color-blue-secondary: #2FB1F2;
  --color-blue-tertiary: #E2F3FF;
  --font-open: 'Open Sans', 'sans-serif';
  --font-grand: 'Grandstander', 'cursive';
}

@layer utilities {
  .animate-pulse-fast {
    animation: pulse 1.5s infinite;
  }
  /* .square-portrait {
    height: 100%;
    width: auto;
  } */
  .heading {
    font-family: 'Grandstander', 'cursive';
    font-weight: 700;
    font-size: 2rem;
    color: #2FB1F2;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
  }
  
  @media (orientation: portrait) {
    .show-portrait {
      display: flex !important;
    }
      .hide-portrait {
        display: none !important;
      }
      /* .square-portrait {
        width: 100%;
        height:auto;
      } */
      .progress-height-portrait {
        height: 6rem;
      }
    }
}